{% extends 'base.html.twig' %}

{% block content_title %}
    {% trans %}Planets{% endtrans %}
    {% import '_swapi.html.twig' as swapi %}
    {{ swapi.total_count(planets) }}
{% endblock %}

{% block content %}
    {% import '_swapi.html.twig' as swapi %}
    {{ swapi.form_search() }}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{% trans %}Name{% endtrans %}</th>
                <th scope="col">{% trans %}Diameter{% endtrans %}</th>
                <th scope="col">{% trans %}Population{% endtrans %}</th>
                <th scope="col">{% trans %}Rotation period{% endtrans %}</th>
                <th scope="col">{% trans %}Orbital period{% endtrans %}</th>
                <th scope="col">{% trans %}Climate{% endtrans %}</th>
                <th scope="col">{% trans %}Gravity{% endtrans %}</th>
                <th scope="col">{% trans %}Terrain{% endtrans %}</th>
                <th scope="col">{% trans %}Surface water{% endtrans %}</th>
                <th scope="col">{% trans %}Number of character residents{% endtrans %}</th>
                <th scope="col">{% trans %}Number of films{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for planet in planets %}
                <tr>
                    <th scope="row">
                        <a href="{{ path('planet_show', {'id': planet.url | url_to_id}) }}">
                            {{ planet.name }}
                        </a>
                    </th>
                    <td>{{ planet.diameter }}</td>
                    <td>{{ planet.population }}</td>
                    <td>{{ planet.rotationPeriod }}</td>
                    <td>{{ planet.orbitalPeriod }}</td>
                    <td>{{ planet.climate }}</td>
                    <td>{{ planet.gravity }}</td>
                    <td>{{ planet.terrain }}</td>
                    <td>{{ planet.surfaceWater }}</td>
                    <td>{{ planet.residents|length }}</td>
                    <td>{{ planet.films|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="11">
                    {% import '_paginator.html.twig' as paginator %}
                    {{ paginator.paginate(planets, 'planet_index') }}
                </td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
