{% extends 'base.html.twig' %}

{% block content_title %}Planets{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Diameter</th>
                <th scope="col">Population</th>
                <th scope="col">Rotation period</th>
                <th scope="col">Orbital period</th>
                <th scope="col">Climate</th>
                <th scope="col">Gravity</th>
                <th scope="col">Terrain</th>
                <th scope="col">Surface water</th>
                <th scope="col">Residents length</th>
                <th scope="col">Films length</th>
            </tr>
        </thead>
        <tbody>
            {% for planet in planets.results %}
                <tr>
                    <th scope="row">
                        <a href="{{ path('planet_show', {'id': planet.url | url_to_id}) }}">
                            {{ planet.name }}
                        </a>
                    </th>
                    <td>{{ planet.diameter }}</td>
                    <td>{{ planet.population }}</td>
                    <td>{{ planet.rotation_period }}</td>
                    <td>{{ planet.orbital_period }}</td>
                    <td>{{ planet.climate }}</td>
                    <td>{{ planet.gravity }}</td>
                    <td>{{ planet.terrain }}</td>
                    <td>{{ planet.surface_water }}</td>
                    <td>{{ planet.residents|length }}</td>
                    <td>{{ planet.films|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
