{% extends 'base.html.twig' %}

{% block content_title %}{% trans %}Planets{% endtrans %}{% endblock %}

{% block content %}
    {{ dump(planets) }}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{% trans %}Name{% endtrans %}</th>
                <th scope="col">{% trans %}Diameter{% endtrans %}</th>
                <th scope="col">{% trans %}Population{% endtrans %}</th>
                <th scope="col">{% trans %}Rotation period{% endtrans %}</th>
                <th scope="col">{% trans %}Orbital period{% endtrans %}</th>
                <th scope="col">{% trans %}Climate{% endtrans %}</th>
                <th scope="col">{% trans %}Gravity{% endtrans %}</th>
                <th scope="col">{% trans %}Terrain{% endtrans %}</th>
                <th scope="col">{% trans %}Surface water{% endtrans %}</th>
                <th scope="col">{% trans %}Number of character residents{% endtrans %}</th>
                <th scope="col">{% trans %}Number of films{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for planet in planets.results %}
                <tr>
                    <th scope="row">
                        <a href="{{ path('planet_show', {'id': planet.url | url_to_id}) }}">
                            {{ planet.name }}
                        </a>
                    </th>
                    <td>{{ planet.diameter }}</td>
                    <td>{{ planet.population }}</td>
                    <td>{{ planet.rotation_period }}</td>
                    <td>{{ planet.orbital_period }}</td>
                    <td>{{ planet.climate }}</td>
                    <td>{{ planet.gravity }}</td>
                    <td>{{ planet.terrain }}</td>
                    <td>{{ planet.surface_water }}</td>
                    <td>{{ planet.residents|length }}</td>
                    <td>{{ planet.films|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="11">
                    <nav class="float-right">
                        <ul class="pagination">
                            <li class="page-item disabled">
                              <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
