{% extends 'base.html.twig' %}

{% block content_title %}{{ planet.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <table class="table table-dark">
                <tr>
                    <th>{% trans %}Diameter{% endtrans %}</th>
                    <td>{{ planet.diameter }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Population{% endtrans %}</th>
                    <td>{{ planet.population }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Rotation period{% endtrans %}</th>
                    <td>{{ planet.rotationPeriod }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Orbital period{% endtrans %}</th>
                    <td>{{ planet.orbitalPeriod }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Climate{% endtrans %}</th>
                    <td>{{ planet.climate }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Gravity{% endtrans %}</th>
                    <td>{{ planet.gravity }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Terrain{% endtrans %}</th>
                    <td>{{ planet.terrain }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Surface water{% endtrans %}</th>
                    <td>{{ planet.surfaceWater }}</td>
                </tr>
            </table>
        </div>
        <div class="col-6">
            <h4>{% trans %}People{% endtrans %}</h4>
            <ul class="list-group list-group-flush">
                {% for character in planet.residents %}
                    <li class="list-group-item">
                        {#{% set people = url | url_to_id | get_people %}#}
                        {{ character.name }}
                        <small class="font-italic"> - {% trans %}Birth year{% endtrans %}: {{ character.birthYear }}</small>
                    </li>
                {% endfor %}
            </ul>
            <h4 class="mt-4">{% trans %}Films{% endtrans %}</h4>
            <ul class="list-group list-group-flush">
                {% for film in planet.films %}
                    <li class="list-group-item">
                        {#{% set film = url | url_to_id | get_film %}#}
                        {{ film.episodeId }}. {{ film.title }}
                        <small class="font-italic"> - {% trans %}Release date{% endtrans %}: {{ film.releaseDate | date('d/m/Y') }}</small>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}