{% extends 'base.html.twig' %}

{% block content_title %}
    {% trans %}Character{% endtrans %}
    {% import '_swapi.html.twig' as swapi %}
    {{ swapi.total_count(characters) }}
{% endblock %}

{% block content %}
    {% import '_swapi.html.twig' as swapi %}
    {{ swapi.form_search() }}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{% trans %}Name{% endtrans %}</th>
                <th scope="col">{% trans %}Birth year{% endtrans %}</th>
                <th scope="col">{% trans %}Eye color{% endtrans %}</th>
                <th scope="col">{% trans %}gender{% endtrans %}</th>
                <th scope="col">{% trans %}Hair color{% endtrans %}</th>
                <th scope="col">{% trans %}Height{% endtrans %}</th>
                <th scope="col">{% trans %}Mass{% endtrans %}</th>
                <th scope="col">{% trans %}Skin color{% endtrans %}</th>
                <th scope="col">{% trans %}Homeworld{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for character in characters %}
                <tr>
                    <th scope="row">
                        <a href="{{ path('character_show', {'id': character.url | url_to_id}) }}">
                            {{ character.name }}
                        </a>
                    </th>
                    <td>{{ character.birthYear }}</td>
                    <td>{{ character.eyeColor }}</td>
                    <td>{{ character.gender }}</td>
                    <td>{{ character.hairColor }}</td>
                    <td>{{ character.height }}</td>
                    <td>{{ character.mass }}</td>
                    <td>{{ character.skinColor }}</td>
                    <td>
                        <a href="{{ path('planet_show', {'id': character.homeworld.url | url_to_id}) }}">
                            {{ character.homeworld.name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="11">
                    {% import '_paginator.html.twig' as paginator %}
                    {{ paginator.paginate(characters, 'character_index') }}
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
