{% extends 'base.html.twig' %}

{% block content_title %}
    {% trans %}Starships{% endtrans %}
    {% import '_swapi.html.twig' as swapi %}
    {{ swapi.total_count(starships) }}
{% endblock %}

{% block content %}
    {% import '_swapi.html.twig' as swapi %}
    {{ swapi.form_search() }}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{% trans %}Name{% endtrans %}</th>
                <th scope="col">{% trans %}Model{% endtrans %}</th>
                <th scope="col">{% trans %}Starship class{% endtrans %}</th>
                <th scope="col">{% trans %}Manufacturer{% endtrans %}</th>
                <th scope="col">{% trans %}Cost in credits{% endtrans %}</th>
                <th scope="col">{% trans %}Length{% endtrans %}</th>
                <th scope="col">{% trans %}Crew{% endtrans %}</th>
                <th scope="col">{% trans %}Passengers{% endtrans %}</th>
                <th scope="col">{% trans %}Max atmosphering speed{% endtrans %}</th>
                <th scope="col">{% trans %}Hyperdrive rating{% endtrans %}</th>
                <th scope="col">{% trans %}MGLT{% endtrans %}</th>
                <th scope="col">{% trans %}Cargo capacity{% endtrans %}</th>
                <th scope="col">{% trans %}Consumables{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for starship in starships %}
                <tr>
                    <th scope="row">
                        <a href="{{ path('starship_show', {'id': starship.url | url_to_id}) }}">
                            {{ starship.name }}
                        </a>
                    </th>
                    <td>{{ starship.model }}</td>
                    <td>{{ starship.starshipClass }}</td>
                    <td>{{ starship.manufacturer }}</td>
                    <td>{{ swapi.number(starship.costInCredits) }}</td>
                    <td>{{ swapi.number(starship.length) }}</td>
                    <td>{{ swapi.number(starship.crew) }}</td>
                    <td>{{ swapi.number(starship.passengers) }}</td>
                    <td>{{ swapi.number(starship.maxAtmospheringSpeed) }}</td>
                    <td>{{ swapi.number(starship.hyperdriveRating) }}</td>
                    <td>{{ swapi.number(starship.mglt) }}</td>
                    <td>{{ swapi.number(starship.cargoCapacity) }}</td>
                    <td>{{ starship.consumables }}</td>
                    <td>
                        <div class="list-group list-group-small">
                        {% for character in starship.pilots %}
                            <a class="list-group-item list-group-item-action text-nowrap list-group-item-primary" href="{{ path('character_show', {'id': character.url | url_to_id}) }}">
                                {{ character }}
                            </a>
                        {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="15">
                    {% import '_paginator.html.twig' as paginator %}
                    {{ paginator.paginate(starships, 'starship_index') }}
                </td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
